{% extends 'base.html' %} {% block title %}History{% endblock %} {% block
content %}
<!-- Fuel Quote History -->
<div class="container py-3">
  <h1 align="center"><strong>Fuel Quote History</strong></h1>
  <table class="table">
    <tr>
      <th>Gallons Requested</th>
      <th>Delivery Address 1</th>
      <th>Delivery Address 2</th>
      <th>Delivery Date</th>
      <th>Price Per Gallon</th>
      <th>Total Amount Due</th>
    </tr>
    {% for quote in user.quotes %}
    <tr>
      <td>{{ quote.gallons }}</td>
      <td>{{ quote.addressOne }}</td>
      <td>{{ quote.addressTwo }}</td>
      <td>{{ quote.deliveryDate }}</td>
      <td>{{ quote.pricePerGallon }}</td>
      <td>{{ quote.totalAmountDue }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}