{% extends 'base.html' %} {% block title %}Home{% endblock %}{% block content%}
<body>
  <div class="content">
    {% if session["username"] == none %}
    <h1>Get a quote today!</h1>
    {%else%}
    <h1>Hello, {{session["username"]}}!</h1>
    {%endif%} {% if session["username"] == none %}
    <a href="/sign_up">Register</a>
    <a href="/login">Login</a>
    {% else %}
    <a href="quote">Get a quote!</a>
    {%endif%}
  </div>
</body>

<style>
  body {
    background: linear-gradient(#2b2b2baa, #2b2b2baa), url(../static/bg1.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
  }

  .content a {
    color: #ffffff;
    text-decoration: none;
  }
</style>
{% endblock content %}
