{% extends 'base.html' %} {% block title %}Fuel Quote Form{% endblock %} {% block
  content %}
  </br>
  <h2 align="center"><strong>Fuel Quote Form</strong></h2>
  <form method="POST" action="{{ url_for('quote') }}">
    <h5 align="center">
      Fields marked with
      a red star are mandatory.
    </h5>
    <div class="form-group">
      <label class="required-field" for="gallons">Gallons Requested</label>
      <input
        type="number"
        class="form-control"
        id="gallons"
        name="gallons"
        placeholder="Enter Number of Gallons"
        required
      />
    </div>
    <div class="form-group">
      <label for="addressOne">Delivery Address 1</label>
      <input
          type="text"
          class="form-control"
          id="addressOne"
          name="addressOne"
          value="{{ addressOne }}"
          readonly
      />
    </div>
    <div class="form-group">
      <label for="addressTwo">Delivery Address 2</label>
      <input
          type="text"
          class="form-control"
          id="addressTwo"
          name="addressTwo"
          value="{{ addressTwo }}"
          readonly
          />
    </div>
    <div class="form-group">
      <label for="deliveryDate">Delivery Date</label>
      <input
          type="date"
          class="form-control"
          id="deliveryDate"
          name="deliveryDate"
      />
    </div>
    <div class="form-group">
      <label for="pricePerGallon">Price Per Gallon</label>
      <input
          type="number"
          class="form-control"
          id="pricePerGallon"
          name="pricePerGallon"
          placeholder="TBD (when pricing module is finished)"
          readonly
          />
    </div>
    <div class="form-group">
      <label for="totalAmountDue">Total Amount Due</label>
      <input
          type="number"
          class="form-control"
          id="totalAmountDue"
          name="totalAmountDue"
          placeholder="TBD (when pricing module is finished) [Gallons * Price Per Gallon]"
          readonly
          />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% endblock %}