{% extends 'base.html' %} {% block title %}Profile{% endblock %} {% block
    content %}
    </br>
    <h2 align="center"><strong>Fuel Quote Form</strong></h2>
    <form method="POST">
      <h5 align="center">
        Fields marked with
        a red star are mandatory.
      </h5>
      <div class="form-group">
        <label class="required-field" for="gallonsRequested">Gallons Requested</label>
        <input
          type="number"
          class="form-control"
          id="gallonsRequested"
          name="gallonsRequested"
          placeholder="Gallons Requested"
          maxlength="50"
          value="{{ gallonsRequested }}"
          required
        />
      </div>
      <div class="form-group">
        <label for="addressOne">Address 1</label>
        <input
            type="text"
            class="form-control"
            id="addressOne"
            name="addressOne"
            value="{{ user_addressOne }}"
            readonly
        />
      </div>
      <div class="form-group">
        <label for="addressTwo">Address 2</label>
        <input
            type="text"
            class="form-control"
            id="addressTwo"
            name="addressTwo"
            value="{{ user_addressTwo }}"
            readonly
            />
      </div>
      <div class="form-group">
        <label for="deliveryDate">Delivery Date</label>
        <input
            type="date"
            class="form-control"
            id="deliveryDate"
            name="deliveryDate"
            min="2023-09-21"
            max="2050-01-01"
        />
      </div>
      <div class="form-group">
        <label for="suggestedPricePerGallon">Suggested Price Per Gallon</label>
        <input
            type="number"
            class="form-control"
            id="suggestedPricePerGallon"
            name="suggestedPricePerGallon"
            placeholder="Will be calculated by pricing module in the future"
            readonly
            />
      </div>
      <div class="form-group">
        <label for="totalAmountDue">Total Amount Due</label>
        <input
            type="number"
            class="form-control"
            id="totalAmountDue"
            name="totalAmountDue"
            readonly
            />
      </div>
    </form>
    {% endblock %}